{% extends 'base.html' %} {% block content %}
<div class="h-page dt-tab">
  <h3>Hello there, welcome to City Weather</h3>
  <div class="app-desc">
    <h3>What is City Weather?</h3>
    <p>
      City Weather is a simple weather app that I built using Python, Flask, and
      the
      <a href="https://openweathermap.org/api" target="_blank"
        >OpenWeatherMap</a
      >
      API.
    </p>
  </div>
  <div class="app-instr">
    <h3>How does it work</h3>
    <p>
      Simply click on the search button and enter a city name in the search box
      then hit ENTER on your keyboard.
    </p>
  </div>
</div>
{% endblock %}
